__pycache__

.venv

analysis.txt

job description.txt

New folder.zip

New folder

build

dist

main.spec

Wayleave and Cheque Enclosed - Good Printer.docx

dist.zip

15 year.pdf

annual.pdf

requirement for create-letters

Example